body{
    background-color: rgb(12, 12, 12);
}
#upbar{
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgb(12, 12, 12);
    width: 100%;
    height: 8%;
}
#login{
    border-radius: 0.5rem;
    border-style: solid;
    padding: 1%;
    width: 2%;
}
#ImagemInicio{
    position: absolute;
    width: 50%;
    top: 10%;
    left: -7px;
}
#logoSinappse{
    position: absolute;
    width: 4.8%;
}
#TextoSinappse{
    position: absolute;
    width: 13%;
    left: 6%;
}
#IMGLogin{
    position: absolute;
    width: 4%;
    right: 10%;
}
#TXTLogin{
    top: -0.5%;
    font-size: 23px;
    right: 5.5%;
    position: absolute;
    color: white;
}