@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
nav {
    background-color: rgba(12, 12, 12, 0.685);
    display: flex;   
    justify-items: center;
    gap: 1%;
}
nav #logo{
    height: 5%;
    width: 5%;
    padding-left: 0.5%;    
    padding-top: 0.5%;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #121212;
    background-image: linear-gradient(to right, #004624, #121212);
}
h1{
    color: white;
    font-family: "Open Sans", sans-serif;
}

#SinappseTxt{
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-weight: 700;
}
#apptxt{
    color: #00bf63;
    
}
main hr{
    width: 50%;
    margin-left: 49%;
    margin-top: 2%;
}
#titulo{
    font-weight: 700;
    font-size: 300%;
    width: 40%;
    margin-left: 50%;
    font-family: "Open Sans", sans-serif;
    text-align: right;
}
#text{
    width: 50%;
    color: white;
    font-size: 150%;
    font-family: "Open Sans", sans-serif;
    margin-top: 5%;
    margin-left: 40%;
    text-align: right;
    
}
#Login{
    background-color: #00bf63;
    margin-top: 4%;
    margin-left: 73%;
    border-radius: 0.5rem;
    padding: 0% 2.5% ;
}
#login_text{
    color: rgb(12, 12, 12);
    font-size: 30px;
}
@media  screen and(max-widht: 600px) {
    nav .flex-row{
        flex-direction: column;
    }
   
}